@model MVCwithData.Models.Classes.Ulke
<br />
<div class="row">
    <div class="col-md-7">
        <form method="post">
            <label>Id</label>
            <input class="form-control" type="text" name="UlkeId" />
            <label>Ad</label>
            <input class="form-control" type="text" name="UlkeAd" />
            <input classs="btn btn-primary" type="submit" value="Ekle" />
        </form>
    </div>
</div>