@model MVCwithData.Models.Classes.Ulke

<div class="row">
    <div class="col-md-7">
        <form method="post">
            <label>Id</label>
            <input class="form-control" type="hidden" value="@Model.UlkeId" name="UlkeId" />
            <label>Ad</label>
            <input class="form-control" type="text" value="@Model.UlkeAd" name="UlkeAd" />
            <input classs="btn btn-Danger" type="submit" value="Sil" />
        </form>
    </div>
</div>