@model MVCwithData.Models.Classes.Unvan

<div class="row">
    <div class="col-md-7">
        <form method="post">
            <label>Id</label>
            <input class="form-control" type="hidden" value="@Model.UnvanId" name="UnvanId" />
            <label>Ad</label>
            <input class="form-control" type="text" value="@Model.UnvanAd" name="UnvanAd" />
            <input classs="btn btn-Danger" type="submit" value="Sil" />
        </form>
    </div>
</div>